/* body and canvas classes to center game */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    display: block;
    background-color: #000;
    border: 1px solid #000;
}